body{
	margin:0;
	display:flex;
	flex-direction:column;
}


.profilePageButton{
margin-right:20px;	
}

.writeBlogButton{
margin-right:10px;
}

.navbar-home{
position:fixed;
display:flex;
flex-direction:row-reverse;
height:20px;
border:1px solid black;
width:100%;
padding:10px 0px;
background-color:#ACDDDE;
}

.blogContainer{
	
	
	border:3px solid rgb(156, 156, 156);
	height:auto;
	width:auto;
	padding:20px;
	margin:20px;
	background-color:#FFE7C7;
}

.blogContainer .blogDate{
	
	float:right;
	
}

.blogContainer .blogText{
	 word-wrap: break-word;
	width:100%;
	font-family:"Gill Sans";
	font-size:24px;
}

.blogContainer .blogWriter{
	font-family:"Calibri"
}

.blogContainerMain{
	
	margin-top:30px;
	width:100%;
	background:#FEF8DD;
	
}

.writeBlog{
	display:none;
	position:absolute;
	width:100%;
	top:0;
	height:100%;
	align-items:center;
	justify-content:center;
	background:rgba(255,0,0,0.1);
	
}

.writeBlogChild{
background-color:#ACDDDE;
display:flex;
flex-direction: column;	
align-items:center;
justify-content:center;
height:auto;
width:auto;
border:3px solid black;
padding:30px;
}

.webTitle{
position:absolute;
left:20px;
font-size:20px;
font-weight:bold;
}

